extends ../layout

block content
  h2 Post Id #{post._id}
    
  form(action='/admin/posts/#{post._id}',method='post',name='updatepost',enctype='application/x-www-form-urlencoded')
    
    p Title: 
      input#inputTitle(type='text', value='#{post.title}', name='title')

    p Slug: 
      input#inputSlug(type='text', value='#{post.slug}', name='slug')
    
    p Excerpt: 
      textarea#inputExcerpt(name='excerpt', rows=5, cols=10)
        = post.excerpt

    p Body: 
      textarea#inputBody(name='body', rows=5, cols=10)
        = post.body

    p Is post published?: 
      input#inputIsPublished(type='checkbox', name='is_published', checked=('#{post.is_published}'==='true' ? "checked" : undefined))
    
    p 
      input(type='hidden',value='PUT',name='_method')
    
    p 
      button#btnSubmit(type='submit') Update
      a(href='/admin/posts') Cancel